<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>
</head>
<body>
    <h1>Добавление курса</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}


        <button type="submit">

        {% if object %}
            Сохранить
        {% else %}
            Добавить
        {% endif %}
        </button>
    </form>

    <a href="{% url 'list' %}">Назад к списку курсов</a>

</body>

</html>